<div>
    <form [formGroup]="formGroup">
        <mat-card>
            <mat-card-header>
                <mat-card-title>Editar serie</mat-card-title>
            </mat-card-header>

            <mat-card-content>
                <mat-form-field appearance="legacy">
                    <input matInput formControlName="reps" placeholder="Repeticiones">
                </mat-form-field>

                <br>
                <mat-form-field appearance="legacy">
                    <input matInput formControlName="weight" placeholder="Peso levantado">
                </mat-form-field>
                
                <br>
                <button mat-button (click)="cancel()" [disabled]="formGroup.invalid">Cancel</button>
                <button mat-button (click)="saveData()" [disabled]="formGroup.invalid">Save</button>
            </mat-card-content>
        </mat-card>
    </form>
</div>