<div style="padding: 13px;">

    <mat-card *ngFor="let exercise of exercises" style="margin-top: 10px" mat-elevation-z1>
        <mat-card-header>
            <mat-card-title>Nombre: {{exercise.name}}</mat-card-title>
        </mat-card-header>
        <mat-card-content>
            
            <div *ngFor="let set of exercise.sets">
                <p><b>Peso:</b> {{set.weight}} kg / <b>Repeticiones:</b> {{set.reps}}</p>
            </div>
            
            <p><b>Última subida de peso:</b> {{exercise.lastIncrease}}</p>

            <mat-card-actions >
                <a><button (click) = "openDialog(exercise)" mat-raised-button color="primary"><mat-icon>delete</mat-icon></button></a>
                <a [routerLink]="['/edit', exercise.id]"><button mat-raised-button color="primary"><mat-icon>edit</mat-icon></button></a>
            </mat-card-actions>
            
        </mat-card-content>
    </mat-card>

    <a routerLink="/new" mat-button class="mat-fab mat-fab-bottom-right mat-elevation-z4" color="primary">
        <mat-icon>add</mat-icon>
    </a>
</div>
